<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Süper Lig Oyuncu Karşılaştırma</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="../static/scripts.js"></script>
</head>

<body>
    <div class="container">
        <h1>Süper Lig Oyuncu Karşılaştırma</h1>
        <form id="chartForm" method="POST" action="/radar_chart">

            <div class="radio-group">
                <!-- radio buttons for player positions -->

                <input type="radio" id="defender" name="selected_position" value="DF" onclick="updatePlayers()">
                <label for="defender">Savunmacı</label>

                <input type="radio" id="midfielder" name="selected_position" value="MF" onclick="updatePlayers()">
                <label for="midfielder">Orta Saha</label>

                <input type="radio" id="forward" name="selected_position" value="FW" onclick="updatePlayers()">
                <label for="forward">Forvet</label>
            </div>

            <div class="select-group" id="select-group">
                <!-- select list -->
                <select name="player1_name" id="player1">
                    {% for player in form.player1_name.choices %}
                    <option value="{{ player[0] }}">{{ player[1] }}</option>
                    {% endfor %}
                </select>
                <span style="color: white; font-size: 20px; font-weight: bold;">-</span>
                <select name="player2_name" id="player2">
                    {% for player in form.player2_name.choices %}
                    <option value="{{ player[0] }}">{{ player[1] }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Hidden input field for selected_position -->
            <input type="hidden" name="selected_position" id="selectedPosition">

            <input class="submit_button" type="submit" value="Oluştur">
        </form>

        <!-- The container for displaying the loading spinner -->
        <div id="loadingSpinner" style="display: none;">
            <img src="/static/loading.gif" alt="Loading..." style="width: 50px;" />
        </div>

        <!-- The container for displaying the chart -->
        <div id="chartContainer">
            <!-- Chart will be loaded here -->
            {% if chart_img %}
            <img src="{{ chart_img }}" alt="Radar Chart" id="chartImage">
            {% endif %}
        </div>
        <script>
            $(document).ready(function () {
                // Intercept the form submit
                $("#chartForm").submit(function (event) {
                    event.preventDefault(); // Prevent the default form submission

                    // Set the selected_position value to the hidden input field
                    $("#selectedPosition").val($('input[name="selected_position"]:checked').val());

                    var formData = $(this).serialize(); // Serialize form data

                    // Show the loading spinner
                    $("#loadingSpinner").show();

                    function scrollToBottom() {
                        $('html, body').animate({
                            scrollTop: $('#chartContainer').offset().top
                        }, 1600); // You can adjust the duration (milliseconds) as needed
                    }
                    // Make an AJAX request to the server
                    $.ajax({
                        type: 'POST',
                        url: '/radar_chart',
                        data: formData,
                        cache: false,
                        success: function (data) {
                            // Assuming you have a div with id 'chartContainer' to display the chart
                            updateChart(data);

                            // Hide the loading spinner after the chart is loaded
                            $("#loadingSpinner").hide();

                            scrollToBottom();
                        },
                        error: function (xhr, status, error) {
                            console.error("AJAX request failed:", status, error);

                            // Hide the loading spinner in case of an error
                            $("#loadingSpinner").hide();
                        }
                    });
                });

                // JavaScript code to update the chart container
                function updateChart(data) {
                    // Get the chart container element
                    var chartContainer = $("#chartContainer");

                    // Update the content of the chart container with the new chart HTML
                    chartContainer.html(data);
                }
            });
        </script>
        <script>
            function updatePlayers() {
                var selectedPosition = document.querySelector('input[name="selected_position"]:checked').value;
                var player1Select = document.getElementById('player1');
                var player2Select = document.getElementById('player2');

                // Fetch the appropriate CSV file based on the selected position
                fetchPlayers(selectedPosition)
                    .then(function (players) {
                        // Clear existing options
                        player1Select.innerHTML = '';
                        player2Select.innerHTML = '';

                        // Add new options
                        players.forEach(function (player) {
                            var option = document.createElement('option');
                            option.value = player;
                            option.textContent = player;
                            player1Select.appendChild(option);

                            option = document.createElement('option');
                            option.value = player;
                            option.textContent = player;
                            player2Select.appendChild(option);
                        });
                    });
            }

            function fetchPlayers(position) {
                // Use appropriate URLs for each position
                var url = '';
                if (position === 'FW') {
                    url = 'https://raw.githubusercontent.com/bariscanyeksin/csv_scatter_radar/main/forwards.csv';
                } else if (position === 'MF') {
                    url = 'https://raw.githubusercontent.com/bariscanyeksin/csv_scatter_radar/main/midfielders.csv';
                } else if (position === 'DF') {
                    url = 'https://raw.githubusercontent.com/bariscanyeksin/csv_scatter_radar/main/defenders.csv';
                }

                // Fetch the player names from the CSV file
                return fetch(url)
                    .then(function (response) {
                        return response.text();
                    })
                    .then(function (csvData) {
                        // Parse CSV data and return the list of player names
                        var playerNames = csvData.split('\n').slice(1, -1).map(function (line) {
                            var columns = line.trim().split(',');
                            return columns[columns.length - 4];
                        });
                        playerNames.sort();

                        return playerNames;
                    });
            }
        </script>
        <script>
            // Add this script to select the FW radio button on page load
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('defender').checked = true;
                updatePlayers();  // Optional: If you want to trigger the player list update
            });
        </script>
    </div>
</body>
</html>